:root{
    --cor-primaria: #e2e2e2c5;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #000000;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
}

main {
    color: var(--cor-terciaria);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-bottom: 5%;
}

.inicio{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 45%;
} 

.inicio__titulo{
    text-decoration: underline;
}

.inicio__novo__treino{
    display: flex;
    justify-content: center;
    border: 2px solid;
    width: 12.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.rodape {
    gap: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
    justify-content: center;
    display: flex;
    border: solid var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    font-size: 1.2rem;
    font-weight: 600;
}

.rodape__links{
    text-decoration: none;
    color: var(--cor-terciaria);
}