:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
}

@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh; /*ocupa a tela inteira*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: "Jersey 25", serif;
}

.login{
    padding-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login__textos{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
}

.login__textos__logo{
    letter-spacing: 0.2rem;
    padding-bottom: 5rem;
    gap: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.9rem;
    text-align: center;
}

.login__textos__texto{
    padding-bottom: 3.15rem;
}

.login__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.9rem;
}

.login__links__link{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    background-color: var(--cor-secundaria);
    border: solid var(--cor-secundaria);
    border-radius: 0.5rem;
    width: 12.5rem;
    color: var(--cor-primaria);
    font-size: 1.25rem;
    font-weight: 600;
}

.login__formulario{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding-bottom: 1.9rem;
}