@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh; /*ocupa a tela inteira*/
    background-color: #000000;
    color: #f0f0f0;
    font-family: "Jersey 25", serif;
}

.login{
    padding-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login__textos{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}

.login__textos__logo{
    letter-spacing: 3px;
    padding-bottom: 80px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

.login__textos__texto{
    padding-bottom: 50px;
}

.login__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.login__links__link{
    display: flex;
    justify-content: center;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    background-color: #f0f0f0;
    border: solid #f0f0f0;
    border-radius: 5px;
    width: 200px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}

.login__formulario{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding-bottom: 30px;
}